<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="style.e50ed9e3fe11a3c2bba2.css">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.ico">
	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->

</head>
<body class="h-screen bg-grey-lighter">
	<div id="app">
		<div class="w-full text-center bg-orange text-white font-sm p-4" v-if="offline">You're offline, don't worry the app still works.</div>
		<div class="container flex mx-auto mt-8">
			<div class="flex-1">
				<div v-if="enable_sync">
					<login :user="user"></login>
				</div>
				<entries :user="user"></entries>
			</div>
		</div>
	</div>
	<script src="main.df79c47e34200634e000.js"></script>
</body>
</html>